.form__btn {
    @apply
    active:bg-gray-900
    border
    border-transparent
    disabled:opacity-25
    duration-150
    ease-in-out
    focus:outline-none
    focus:ring-2
    focus:ring-red-500
    focus:ring-offset-2
    font-semibold
    hover:bg-gray-700
    inline-flex
    items-center
    px-4
    py-2
    rounded-sm
    text-center
    text-sm
    text-white
    tracking-widest
    transition
    uppercase;

    &_primary {
        @extend .form__btn;
        @apply
        bg-gray-800
        border-gray-800
    }

    &_transparent {
        @extend .form__btn;
        @apply
        active:bg-gray-200
        bg-gray-100
        border
        border-gray-200
        hover:bg-gray-200
        text-gray-800;
    }

    &_danger {
        @extend .form__btn;
        @apply
        bg-red-600
        hover:bg-red-500
        active:bg-red-700;
    }

    &.btn_sm {
        @apply
        text-xs
        p-2;
    }
}
