@tailwind base;
@tailwind components;
@tailwind utilities;
@import "buttons";
@import "micons";

.show-password {
    top: 9px;
    right: 9px;
    width: 18px;
    height: 18px;
    position: absolute;
    cursor: pointer;
}

.table__tr {
    &:hover {
        @apply
        relative
        shadow-table_tr
        z-[2];
    }
}
